<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="connectionFactory"
          class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <property name="host" value="#{appProperties['rabbit.settings.amqp.host']}"/>
        <property name="port" value="#{appProperties['rabbit.settings.amqp.port']}"/>
        <property name="username" value="#{appProperties['rabbit.settings.login']}"/>
        <property name="password" value="#{appProperties['rabbit.settings.password']}"/>
        <property name="channelCacheSize" value="#{appProperties['rabbit.settings.channel.cache.size']}"/>
    </bean>

    <rabbit:template
            id="amqpTemplate"
            connection-factory="connectionFactory"/>

    <rabbit:admin connection-factory="connectionFactory"/>

    <context:component-scan base-package="com.sfl.coolmonkey.coolsocket.queue.producer"/>

    <aop:aspectj-autoproxy/>

    <context:annotation-config/>
</beans>